language: node_js
node_js:
- "4.2.4"
before_script:
- if [ "${TRAVIS_PULL_REQUEST}" = "true" ]; then curl https://gist.githubusercontent.com/santiycr/5139565/raw/sauce_connect_setup.sh | bash; fi
script: npm run build
