$icon-font-family: chromecast;
$icon-font-path: 'fonts' !default;

@font-face {
  font-family: $icon-font-family;
  src: url('#{$icon-font-path}/chromecast.eot?#iefix') format('eot');
}

@font-face {
  font-family: $icon-font-family;
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg7RB+YAAAC8AAAAYGNtYXAXVdKJAAABHAAAAFRnYXNwAAAAEAAAAXAAAAAIZ2x5ZjwDrFcAAAF4AAAAzGhlYWQKebynAAACRAAAADZoaGVhCTwFQQAAAnwAAAAkaG10eAk7AAAAAAKgAAAAFGxvY2EAKAB6AAACtAAAAAxtYXhwAAoALwAAAsAAAAAgbmFtZccyBsQAAALgAAABqnBvc3QAAwAAAAAEjAAAACAAAwU7AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAQQAAAAAAAQAAAAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAOAAAAAoACAACAAIAAQAg6QH//f//AAAAAAAg6QH//f//AAH/4xcDAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAAEAAAAAAU7BAAADgATAB8ALAAAExEeARcRIREhHgEXIREhAxUzLgEnFR4DFzMuAycVHgMXMy4DJ08bNBoEGv1eCg8GAuz7FE+XD1E3LE09KQhqCDtZc0JSkG9HCWoKV4y2aAQA/k8GDwoBZ/0hGjQbA7H8l5c3UclqCCk9TSxCc1k7wmoJR2+QUmi2jFcKAAABAAAAAQAAsTF8aV8PPPUACwQAAAAAANMQO9UAAAAA0xA71QAAAAAFOwQAAAAACAACAAAAAAAAAAEAAAQAAAAAAAU7AAAAAAU7AAEAAAAAAAAAAAAAAAAAAAAFBAAAAAAAAAAAAAAAAAAAAAU7AAAAAAAAAAoAFAAeAGYAAQAAAAUALQAEAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAAoAAAABAAAAAAACAAcAewABAAAAAAADAAoAPwABAAAAAAAEAAoAkAABAAAAAAAFAAsAHgABAAAAAAAGAAoAXQABAAAAAAAKABoArgADAAEECQABABQACgADAAEECQACAA4AggADAAEECQADABQASQADAAEECQAEABQAmgADAAEECQAFABYAKQADAAEECQAGABQAZwADAAEECQAKADQAyENocm9tZWNhc3QAQwBoAHIAbwBtAGUAYwBhAHMAdFZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMENocm9tZWNhc3QAQwBoAHIAbwBtAGUAYwBhAHMAdENocm9tZWNhc3QAQwBoAHIAbwBtAGUAYwBhAHMAdFJlZ3VsYXIAUgBlAGcAdQBsAGEAckNocm9tZWNhc3QAQwBoAHIAbwBtAGUAYwBhAHMAdEZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format('truetype'),
  url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAT4AAsAAAAABKwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDtEH5mNtYXAAAAFoAAAAVAAAAFQXVdKJZ2FzcAAAAbwAAAAIAAAACAAAABBnbHlmAAABxAAAAMwAAADMPAOsV2hlYWQAAAKQAAAANgAAADYKebynaGhlYQAAAsgAAAAkAAAAJAk8BUFobXR4AAAC7AAAABQAAAAUCTsAAGxvY2EAAAMAAAAADAAAAAwAKAB6bWF4cAAAAwwAAAAgAAAAIAAKAC9uYW1lAAADLAAAAaoAAAGqxzIGxHBvc3QAAATYAAAAIAAAACAAAwAAAAMFOwGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6QEEAAAAAAAEAAAAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEADgAAAAKAAgAAgACAAEAIOkB//3//wAAAAAAIOkB//3//wAB/+MXAwADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAABAAAAAAFOwQAAA4AEwAfACwAABMRHgEXESERIR4BFyERIQMVMy4BJxUeAxczLgMnFR4DFzMuAydPGzQaBBr9XgoPBgLs+xRPlw9RNyxNPSkIagg7WXNCUpBvRwlqCleMtmgEAP5PBg8KAWf9IRo0GwOx/JeXN1HJaggpPU0sQnNZO8JqCUdvkFJotoxXCgAAAQAAAAEAALExfGlfDzz1AAsEAAAAAADTEDvVAAAAANMQO9UAAAAABTsEAAAAAAgAAgAAAAAAAAABAAAEAAAAAAAFOwAAAAAFOwABAAAAAAAAAAAAAAAAAAAABQQAAAAAAAAAAAAAAAAAAAAFOwAAAAAAAAAKABQAHgBmAAEAAAAFAC0ABAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAKAAAAAQAAAAAAAgAHAHsAAQAAAAAAAwAKAD8AAQAAAAAABAAKAJAAAQAAAAAABQALAB4AAQAAAAAABgAKAF0AAQAAAAAACgAaAK4AAwABBAkAAQAUAAoAAwABBAkAAgAOAIIAAwABBAkAAwAUAEkAAwABBAkABAAUAJoAAwABBAkABQAWACkAAwABBAkABgAUAGcAAwABBAkACgA0AMhDaHJvbWVjYXN0AEMAaAByAG8AbQBlAGMAYQBzAHRWZXJzaW9uIDEuMABWAGUAcgBzAGkAbwBuACAAMQAuADBDaHJvbWVjYXN0AEMAaAByAG8AbQBlAGMAYQBzAHRDaHJvbWVjYXN0AEMAaAByAG8AbQBlAGMAYQBzAHRSZWd1bGFyAFIAZQBnAHUAbABhAHJDaHJvbWVjYXN0AEMAaAByAG8AbQBlAGMAYQBzAHRGb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('woff'),
  url('#{$icon-font-path}/chromecast.svg?#{$icon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
$icons: (
        chromecast: '\e901'
);

// NOTE: This is as complex as we want to get with SCSS functionality.
//
// Now that we have a map of icons above, we can iterate over that map and create an icon class
// for each icon in that list. The iterator below produces CSS classes like this:
//
// .vjs-icon-play {
//   font-family: VideoJS;
//   font-weight: normal;
//   font-style: normal;
// }
// .vjs-icon-play:before { content: "\25b6"; }
//
// We can then use @extend in the codebase when we need to add an icon to a class. @extend builds up
// the selectors for you so you can avoid duplication. This is generally a bad idea, but since each
// icon should only be extended one or two other places, we'll roll with it.
@each $name, $content in $icons {
  .vjs-icon-#{$name} {
    font-family: $icon-font-family;
    font-weight: normal;
    font-style: normal;

    &:before {
      content: $content;
    }
  }
}

.video-js .vjs-chromecast-button {
  cursor: pointer;
}

.video-js .vjs-chromecast-button {

  font-size: 0.7em;

  @extend .vjs-icon-chromecast;

  &:before {
    line-height: 2.3;
  }

  &.connected {
    color: #66A8CC;
  }
  &.error {
    color: #c70000;
  }
}

// ChromecastTech
.vjs-tech-chromecast {
  .casting-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .casting-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    background-color: rgba(#000, 0.3);
    cursor: default;

    .casting-information {
      position: absolute;
      bottom: 8em;
      right: 8em;
      height: 50px;
      color: #FFF;

      .casting-icon {
        font-size: 44px;
        line-height: 50px;
        margin-right: 10px;
        float: left;
        width: 58px;
        height: 50px;
        @extend .vjs-icon-chromecast;
      }

      .casting-description {
        height: 50px;
        font-size: 20px;
        line-height: 20px;

        small {
          font-size: 11px
        }
      }
    }
  }
}
